.Canvas{
    grid-area: canvas;

    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "square0 square1 square2"
      "square3 square4 square5"
      "square6 square7 square8";
  }