.Toolbox{
    margin: 0;
    margin-top: 30px;
    padding: 0;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: black;
    border-style: solid;
    grid-area: toolbox;
    min-width: 300px;
    min-height: 500px;
    /*background-color: #fdfdf1;*/
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*overflow: scroll;*/
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif
  
  }

.draggableItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.draggableItem>h3{
  margin: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
}
.draggableItem>.ToolboxElement{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 30px;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

.draggableItem>.ToolboxElement:hover{
  cursor: -webkit-grab;
}

.draggableItem>.ToolboxElement>.Element>img{
  min-width: 100px;
  min-height: 50px;
  width: 80%;
  height: 80%;
  max-height: 60px;
  max-width: 120px;
}

.modeChangeButtons{
  margin: 5px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.modeChangeButtons>button{
  color: black;
  /*background-color: #3E4B4F;*/
  background-color:	#9CD9FF;
  border-color: black;
  border-top-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-radius: 6px;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}  

.modeChangeButtons button:hover{
  background-color:	#4CCAFC;
  cursor: pointer;
}

.modeChangeButtons>button:focus {
  outline-color:  gray;
  outline-width: 5px;
}

.modeChangeButtons>button.Clicked{
  background-color: #4CCAFC;
  border-color: black;
  border-top-width: 3px;
  border-left-width: 3px;
  border-bottom-width: 2px;
  border-right-width: 2px;
}

.modeChangeButtons>img{
  max-height: 80px;
  max-width: 80px;
  min-width: 50px;
  min-height: 50px;
}

.importantButtons{
  margin: 5px;
  margin-right: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.importantButtons button{
  color: black;
  border-color: #333333;
  border-width: 2px;
  border-radius: 4px;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}  

.importantButtons>.Construct{
  background-color: #61B0FE;

}

.importantButtons>.ButtonGroup>button{
  background-color: #33ccff;
}

.importantButtons>.Construct:hover{
  background-color: #3473b2;
  cursor: pointer;
}

.importantButtons>.ButtonGroup>button:hover{
  background-color: #00ace6;
  cursor: pointer;
}

.importantButtons button:focus {
  outline-color:  gray;
  outline-width: 5px;
}

.importantButtons button.Clicked{
  background-color: #cccccc;
  border-color: #1a1a1a;
  border-width: 3px;
}

.importantButtons>.ToolboxElement{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  padding-right: 30px;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
}

.importantButtons>.ButtonGroup{
  padding: 0px;
}

@media only screen and (max-width: 1000px){
    .Toolbox{
      width: 100%;
      height: 100%;
      min-height: 0;
      max-width: 100%;
      max-height: 200px;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      grid-area: toolbox;
   }

   .draggableItem{
     flex-direction: row;
   }
   
   .draggableItem>h3{
     display: none;
   }

   .draggableItem>.ToolboxElement{
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: center;
   }

   .draggableItem>.ToolboxElement>.ElementDescription{
     display: inherit;
     padding: 0;
     margin: 0;
   }

   .modeChangeButtons{
     flex-direction: row;
     justify-content: space-around;
     align-content: center;
     align-items: center;
     padding: 0;
     margin: 0;
     font-size: 0.9em;
   }

   .modeChangeButtons:first-child .ToolboxElement{
    border-left: black;
    border: black;
  }

   .modeChangeButtons>.ToolboxElement{
     padding: 0;
     margin: 0;
     margin-right: 20px;
     width: 100%;
     height: 50%;
     min-width: 150px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: center;
   }

   .modeChangeButtons>.ToolboxElement>.ElementDescription{
     padding: 0;
     margin: 0;
   }

   .modeChangeButtons>button{
     border-radius: 0px;
   }

   .modeChangeButtons:first-child{
     border-left: black;
     border-left-width: 2px;
   }

   .importantButtons{
     flex-direction: row;
     margin: 0;
     padding: 0;
     align-items: center;
   }
   
   .importantButtons>.Construct{
     flex-direction: column;
     min-width: 100px;
     padding: 0;
     height: 50%;
     margin: 0;
     padding: 0;
   }

   .importantButtons>.ButtonGroup{
     max-height: 150px;
     flex-direction: row;
   }

   .SaveButton{
     margin: 10px;
   }

   .LoadButton{
     margin: 10px;
   }
}
   