.ToolboxElement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 100%;
    width: 100%;
  
  }

.Element{
  display: inherit;
  justify-content: center;
   
}

img{
  min-width: 100px;
  min-height: 50px;
  width: 80%;
  height: 80%;
}

.Mode{
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}

.Construct>img{
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}
   
.ElementDescription{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-right: 10px;
  padding-right: 10px;
}

.Construct{
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;
}

.Construct>p{
  width: 100%;
  height: 100%;
}