  
  li.NavItem {
    float: left;
  border-right: 1px solid #bbb;
  }
  

li.NavItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.NavItem:last-child {
    border-right: none;
  }

  li.NavItem a:hover {
    background-color: #111;
  }
  