li.NavPicture{
  float: left;
  border-right: 1px solid #bbb;
}

li.NavPicture a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 14px 16px;
    border-radius: 50%;
  }
  
  li.NavPicture a:hover {
    background-color: #111;
  }