li.NavPicture{
  float: left;
  border-right: 1px solid #bbb;
}

li.NavPicture a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 40px;
  }
  
  li.NavPicture a:hover {
    background-color: #111;
  }

  .NavPicture img{
    border-radius: 50%;
    max-width: 100px;
    max-height: 50px;
    min-width: 80px;
    min-height: 40px;
  }