.FrontPage{
    
}

.docker-image{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 15%;
    height: 15%;
    min-height: 250px;
    min-width: 250px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.page-help{

}