.FrontPage{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    line-height: 1.8em; 
    font-family: Arial, Helvetica, sans-serif;
}

.intro-picture{
    background-image: url('../images/docker-wallpaper-black.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.docker-button {
    position: absolute;
    bottom: 60px;
    width: 150px;
    height: 100px;
    left:0;
    right:0;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.docker-button>p {
    margin: 3px 0;
    padding: 0;
    font-weight: bolder;
    font-size: 1.2em;
}

.docker-button>p>.fa{
    font-size: 2em !important;
}

.intro-text{
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3em;
    text-align: left;
    max-width: 1050px;
    text-align: justify;
    width: 100%;
    height: 40vh;
}

.intro-text>h1{
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

.lowerBox{
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 45%;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    line-height: 1.6em;
}

.text>h2{
    text-align: center;
}

.help-image{
    margin: 20px;
    padding: 20px;
    height: 60%;
    width: auto;
    min-width: 200px;
    min-height: 100px;
    box-shadow: -10px -10px 50px 0px rgba(0,0,0,0.6);
}

@media only screen and (max-width: 1300px){
    .FrontPage{
        font-size: 0.8em !important;
    }


}

@media only screen and (max-width: 1000px){

    .intro-text{
        height: 30vh;
    }

    .intro-text>p{
        margin: 0 30px;
    }
    
    .intro-picture{
        min-width: 150px;
        min-height: 150px;
    }

    .text{
        width: 100%;
    }

    .text>p{
        margin: 0 30px;
    }

    .lowerBox{
        flex-direction: column;
        height: 50vh
    }

    .lowerBox>.help-image{
        width: 60%;
        height: 40%;
    }
}