.FrontPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    line-height: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.intro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 33%;
}

.docker-image{
    margin: 20px 10px 10px 20px;
    padding: 20px 10px 10px 20px;
    width: 15%;
    height: 15%;
    min-height: 250px;
    min-width: 250px;
}

.intro-text{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    text-align: left;
    max-width: 1050px;
}

.intro-text>h1{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.page-help{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 33%;
}

.page-help img{
    margin: 10px;
    padding: 10px;
    max-width: 625px;
    max-height: 250px;
}

.page-help>.first-image{
    width: 70%;
    height: 70%;
}

.last-paragraph{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 33%;
}

.last-paragraph>img{
    margin: 20px 10px 10px 20px;
    width: 15%;
    height: 15%;
    min-height: 250px;
    min-width: 250px;
}

.more-info{
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1050px;
}

.more-info>h2{
    font-size: 1.5em;
    margin-bottom: 5px;
}

.more-info>p{
    font-size: 1.1em;
}

@media only screen and (max-width: 1300px){
    .FrontPage{
        font-size: 0.8em !important;
    }


}

@media only screen and (max-width: 1000px){
    .intro{
        flex-direction: column;
        height: 50%;
    }

    .intro-text{
        font-size: 1em;
    }
    .docker-image{
        min-width: 150px;
        min-height: 150px;
    }

    .page-help{
        flex-direction: column;
        height: 50%;
    }

    .last-paragraph{
       display: none;
    }
}