.MainContainer{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 9fr 1fr;
    grid-template-areas:
      "toolbox canvas"
      "toolbox canvas";
  
  }

.NetworkConnection{
  cursor: '../images/cursors/NetworkConnection.png';
}  
/*
.Inspect{
  cursor: url(../images/cursors/Inspect.png), auto;
}

.Advanced{
  cursor: url(../images/cursors/Advanced.png), auto;
}
*/

@media only screen and (max-width: 500px){
  .MainContainer{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
      "toolbox toolbox"
      "canvas canvas";
  }

}